@charset "UTF-8";
 body{
    background-color:#ecc30ccb ;
    font-family: "Kodchasan";
 }
 .login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color:#727276;
 }
 .logo{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }
 .logo div{
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(../imagens/logo_color.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 }
 .campo{
   display: block;
   color: white;
   text-align: center;
}
 .campo label{
   display: none;
 }
 .campo input{
   width: 250px;
   height: 25px;
   padding: 2px 5px 2px 10px;
   margin-top: 5px;
   margin-bottom: 10px;
   border-radius: 8px;
   border: none;
   font-family: "Kodchasan";
   font-weight: bold;
   outline: 0;
 }
 .campo input::placeholder{
   padding-top: 5px;
   padding-left: 10px;
   font-family: "Kodchasan";
   font-weight: lighter;
 }
 form > input[type=submit]{
   color: white;
   display: block;
   margin: auto;
   margin-top: 20px;
   width: 150px;
   font-size: 1em;
   font-family: "Kodchasan";
   border-radius: 10px;
   border: 3px solid #ecc40c ;
   background-color: transparent;
}
form input[type=submit]:hover{
   background-color: #ecc40c;
   color: #727276;
   cursor: pointer;
}