@charset "UTF-8";
 body{
    background-color:#d3bb4b ;
    font-family: "Kodchasan";
 }
 .login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color:#727276;
 }
 .logo{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }
 .logo div{
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(../imagens/logo_color.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 }
 .campo{
   display: block;
   color: white;
   margin: auto;
}
 .campo label{
   display: none;
 }
 .campo i{ 
 }
 .campo input[type=email]{
   margin: auto;
   border-radius: 100px;
   border: none;
}
.campo input[type=password]{
   margin: auto;
   border-radius: 100px;
   border: none;
}
form > input[type=submit]{
   display: block;
   margin: auto;
   margin-top: 20px;
   width: 200px;
   font-size: 1em;
   font-family: "Kodchasan";
   background-color: rgb(196, 193, 193);
   border-radius: 10px;
   border: none;
}
form input[type=submit]:hover{
   background-color: white;
   cursor: pointer;
}